body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#nav-links, #actions {
    display: flex;
    gap: 10px;
}

nav p, nav button {
    margin: 0;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

#header {
    grid-column: span 2;
}

#features-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

#bullet-points-left {
    text-align: left;
}

#features-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    direction:rtl;
}

#bullet-points-right {
    text-align: right;
}



#cta {
    text-align: center;
    padding: 50px;
}

.social {
    text-align: center;
    padding: 50px;
    position: relative;
    padding-bottom: 30px; /* Adjust as needed to create space for the circles */
}

 
.social::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 40px; /* Diameter of the circle */
    height: 40px; /* Diameter of the circle */
    border-radius: 50%; /* To create a circle */
    background-color: #ff7f50; /* Color of the circle */
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    nav {
        grid-template-columns: auto;
        justify-content: center;
    }

    #nav-links, #actions {
        flex-direction: column;
        align-items: center;
    }

    #hero, #features-left, #features-right, #cta, .social {
        grid-template-columns: 1fr;
    }
}